.header-icons {
    position: relative;
    top:700px;
    display: flex;
    justify-content: center;
    text-align: center
}

.down,
.header-icons .icon {
    color: #fff;
    text-align: center
}

.header-icons .icon {
    height: 50px;
    padding: 10px;
    border-radius: 50%;
    
    /*
    border: 2px solid #fff;
    
    transition: all .7s;
    */
    
    width: 20px;
    font-size: 20px;
    margin: 5px
    
}


/*
.header-icons .icon:active,
.header-icons .icon:hover {
    color: #1488CC;
    background: #fff
}
*/


@media only screen and (min-width:550px) {
    .header-icons .icon {
        width: 35px;
        height: 35px;
        font-size: 35px
    }
}


